bin/
build/
docs/
.settings
.classpath
.project
lib/sources/*
lib/dependencies/sources/*

# extensions currently not used
lib/*-extensions-*
lib/dependencies/*-extensions-*
lib/dependencies/commons-*
lib/dependencies/xmlParserAPIs-*
lib/dependencies/opengl-api-*
lib/dependencies/httpcore-*
lib/dependencies/android-*
